@charset "IBM437";
/* style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom style */
@font-face {
  font-family: 'DINMedium';
  src: url("../fonts/dinm83-webfont.eot");
  src: url("../fonts/dinm83-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinm83-webfont.woff") format("woff"), url("../fonts/dinm83-webfont.ttf") format("truetype"), url("../fonts/dinm83-webfont.svg#DINMedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINBold';
  src: url("../fonts/ff_din_bold_0-webfont.eot");
  src: url("../fonts/ff_din_bold_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ff_din_bold_0-webfont.woff") format("woff"), url("../fonts/ff_din_bold_0-webfont.ttf") format("truetype"), url("../fonts/ff_din_bold_0-webfont.svg#DINBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINProMedium';
  src: url("../fonts/dinpro-medium.eot");
  src: url("../fonts/dinpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-medium.woff") format("woff"), url("../fonts/dinpro-medium.ttf") format("truetype"), url("../fonts/dinpro-medium.svg#dinpro-medium") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: url(../img/bg.png) repeat;
  font-family: 'DINProMedium';
  color: #666666; }

.wrapper {
  width: 980px;
  margin: 0 auto; }

.logo {
  float: left;
  margin-top: 15px;
  width: 50%; }

nav {
  background: #ff4f00;
  height: 40px; }
  nav li {
    float: left; }
    nav li:last-child a {
      border: none; }
  nav ul {
    float: left;
    width: 49%; }
    nav ul li a {
      border-right: 1px solid #FB9248;
      color: #FFFFFF;
      display: block;
      font-size: 15px;
      padding: 12px 22px 13px;
      text-decoration: none;
      text-shadow: 1px 2px 1px #AA0B00;
      text-transform: uppercase; }
      nav ul li a:hover {
        background: none repeat scroll 0 0 #F64203;
        box-shadow: 1px 1px 6px 1px #DB1D02 inset; }

.top_header {
  clear: both;
  height: 100px; }

.top-nav > ul {
  float: left; }
.top-nav li {
  border-right: 1px solid #ff4f00;
  float: left;
  padding: 0 5px; }
.top-nav a {
  color: #FF4F00;
  font-size: 14px;
  padding: 0 12px;
  text-decoration: none;
  font-family: dinbold; }

.top-footer li span {
  display: block;
  line-height: 27px; }

.top-footer li {
  float: left;
  margin-left: 3%;
  width: 30%; }

.number {
  background: none repeat scroll 0 0 #FF4F00;
  border-bottom: 1px solid #a42d00;
  padding-bottom: 0; }
  .number > li {
    border-right: 1px solid #E83D00;
    color: #FFFFFF;
    font-family: dinmedium;
    font-size: 18px;
    padding: 2px 7px; }

.top-nav li:last-child {
  border: medium none; }

.join-now {
  float: right;
  margin-right: 8px;
  width: 305px; }

.top-nav {
  float: right; }

#findbutton {
  border: medium none;
  cursor: pointer;
  border-radius: 2px 2px 2px 2px;
  clear: both;
  color: #FF4E00;
  float: right;
  font-family: dinbold;
  font-size: 15px;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: 34px;
  margin-left: 5px;
  margin-top: 3px;
  text-transform: uppercase;
  width: 104px;
  background: #fcfff4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfff4 0%, #dedede 87%, #d9d9d9 99%, #b3bead 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfff4), color-stop(87%, #dedede), color-stop(99%, #d9d9d9), color-stop(100%, #b3bead));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dedede 87%, #d9d9d9 99%, #b3bead 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfff4 0%, #dedede 87%, #d9d9d9 99%, #b3bead 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfff4 0%, #dedede 87%, #d9d9d9 99%, #b3bead 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fcfff4 0%, #dedede 87%, #d9d9d9 99%, #b3bead 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0 );
  /* IE6-9 */ }

.email-field {
  clear: both;
  color: #AAAAAA;
  font-family: dinmedium;
  font-size: 15px;
  height: 26px;
  margin-top: 3px;
  padding-left: 7px;
  padding-top: 5px;
  width: 185px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .email-field {
    clear: both;
    color: #AAAAAA;
    font-family: dinmedium;
    font-size: 15px;
    height: 24px;
    margin-top: 3px;
    padding-left: 7px;
    padding-top: 5px;
    width: 185px; }

  #findbutton {
    width: 104px !important; }

  .join-now {
    float: right;
    margin-right: 8px;
    width: 311px !important; } }
.banner {
  background: none repeat scroll 0 0 transparent;
  margin: 0 auto;
  position: relative;
  width: 100%; }

h4 {
  font-family: dinbold;
  font-size: 31px;
  margin-bottom: 10px;
  margin-top: 10px; }

.banner > img {
  width: 100%; }

.banner_text {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  float: right;
  padding: 18px 0px 18px 19px;
  position: absolute;
  right: 14%;
  top: 0;
  width: 39%; }
  .banner_text p {
    font-size: 14px;
    position: relative;
    text-shadow: 0 1px 0 #ECE9DB;
    top: 22px;
    width: 71%; }
  .banner_text h1 {
    font-size: 35px;
    text-shadow: 1px 1px 0 #FFFFFF; }

.button {
  background: none repeat scroll 0 0 #FF4B00;
  border: medium none;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 10px 7px #DB1D02 inset;
  color: #FFFFFF;
  float: right;
  font-family: dinbold;
  font-size: 20px;
  height: 100px;
  line-height: 94px;
  position: relative;
  right: 13px;
  text-align: center;
  text-shadow: none;
  top: 2px;
  width: 100px; }

.button:hover, .bx-caption .button:hover {
  background: none repeat scroll 0 0 #F7F7F7;
  box-shadow: 0 0 10px 7px #E8EAE7 inset;
  color: #FF4B00;
  cursor: pointer; }

@media screen and (min-width: 1400px) {
  .banner {
    width: 1400px; } }
.banner-desc {
  float: left;
  margin-top: 10px;
  width: 73%; }

.bx-caption .button {
  background: none repeat scroll 0 0 #FF4B00;
  border: medium none;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 18px 7px #DB1D02 inset;
  color: #FFFFFF;
  float: right;
  font-family: dinbold;
  font-size: 15px;
  height: 80px;
  position: relative;
  right: 30px;
  line-height: 76px;
  text-align: center;
  top: -81px;
  width: 80px; }

/*------footer-----*/
.border {
  border: 1px dashed #FF6600;
  float: left;
  margin-top: 10px;
  width: 362px;
  margin-bottom: 30px; }

.border-text {
  background: none repeat scroll 0 0 #FF6600;
  box-shadow: 1px 3px 7px #333333;
  color: #FFFFFF;
  float: left;
  font-family: dinbold;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px; }

.social {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px 9px 2px #999999;
  clear: both;
  min-height: 680px !important;
  margin: 20px auto 0 !important;
  padding: 30px 27px 27px;
  width: 930px; }

h3 {
  color: #FF4E00;
  font-size: 29px;
  margin-bottom: 10px;
  margin-top: 10px; }

.social > .left-content {
  width: 53%; }

footer {
  border-top: 2px dotted #FF6600;
  clear: both;
  margin: 20px auto 30px;
  width: 980px;
  padding-top: 15px; }

.top-footer {
  clear: both;
  height: 150px;
  margin: 0 auto;
  width: 980px; }

.footer-content {
  width: 33%;
  float: left;
  margin-top: 25PX; }
  .footer-content span {
    display: block;
    margin-bottom: 5px; }

.gray {
  color: #8B8B8B;
  font-family: dinmedium;
  font-size: 13px; }

.orange {
  color: #FF6600;
  font-size: 14px; }

.thin {
  color: #B1B1B1;
  font-family: dinpromedium;
  font-size: 11px; }

.nav-footer {
  float: left;
  width: 75%; }
  .nav-footer li {
    float: left; }
    .nav-footer li a {
      border-right: 2px solid;
      color: #FF6600;
      font-size: 13px;
      padding: 0 10px;
      text-decoration: none;
      text-shadow: none; }
    .nav-footer li:last-child a {
      border: medium none; }

.social-media {
  color: #FF6600;
  float: left;
  width: 24%; }
  .social-media > ul {
    float: right; }
  .social-media li {
    float: left;
    padding: 0 10px 10px; }

.copy-right {
  clear: both;
  color: #333333;
  font-family: dinmedium;
  font-size: 13px;
  height: 21px;
  margin-bottom: 10px; }
  .copy-right > div:first-child {
    float: left;
    width: 47%; }
  .copy-right ul {
    float: right; }
  .copy-right li {
    float: left;
    padding-left: 8px;
    padding-right: 8px; }

.langoor {
  float: right;
  width: 31%; }
  .langoor > p {
    text-align: right; }

/*****************ABOUT****************************/
.about-banner {
  background: repeat scroll 0 0 transparent;
  height: 339px;
  margin: 0 auto;
  width: 980px; }

.breadcrumb {
  height: 40px;
  margin: 15px auto 0;
  width: 980px; }
  .breadcrumb li {
    float: left; }
    .breadcrumb li:last-child a {
      border: medium none; }
  .breadcrumb a {
    border-right: 1.8px solid #FF4D00;
    color: #FF4D00;
    font-family: dinpromedium;
    font-size: 13px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase; }

.active a {
  color: #6F6F6F; }

.left-content {
  float: left;
  margin-bottom: 30px;
  width: 58%; }

.banner_text .button {
  text-decoration: none; }

.join-now > span {
  display: block;
  position: absolute;
  top: 143px;
  z-index: 1; }

.content-wrapper {
  width: 980px;
  margin: 0 auto;
  clear: both;
  margin: 0 auto;
  min-height: 600px;
  width: 980px; }

h1 {
  color: #FF4E00;
  font-family: dinbold;
  font-size: 36px;
  margin-bottom: 25px;
  margin-top: 25px; }

h5 {
  color: #6B6B6B;
  font-family: dinmedium;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px; }

p {
  color: #6B6B6B;
  font-family: dinpromedium;
  font-size: 15px;
  line-height: 19px; }

.right-content {
  float: left;
  width: 42%; }

.sign-up {
  background: none repeat scroll 0 0 #FF4E00;
  border-color: #FF4E00;
  border-style: solid;
  border-width: 18px 10px 0;
  height: 71px;
  margin-left: 8%;
  position: relative;
  top: 30px;
  width: 87%; }
  .sign-up:before {
    border-color: transparent transparent #FF4E00;
    border-style: solid;
    border-width: 0 45px 90px;
    content: "";
    height: 0;
    left: -56px;
    position: absolute;
    top: -19px;
    width: 0; }
  .sign-up > p {
    color: #FFFFFF;
    font-family: dinpromedium;
    font-size: 18px;
    margin-bottom: 6px;
    margin-left: 31px; }

/* progress_meter start */
#progress_meter {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0; }
  #progress_meter ul {
    list-style-type: none;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0; }
  #progress_meter li {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0; }
  #progress_meter p {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0; }
  #progress_meter li p {
    -webkit-transition: all .7s ease-out; }
  #progress_meter span {
    display: block;
    width: 50px;
    height: 100px; }
  #progress_meter ul :nth-child(odd) {
    clip: rect(0px, 100px, 100px, 50px); }
  #progress_meter ul :nth-child(even) {
    clip: rect(0px, 50px, 100px, 0px); }

.pie_left {
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }

.pie_right {
  margin-left: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }

#c1_l span, #c1_r span {
  background: #22a063; }

/* progress_meter data (degree value) */
#progress_meter ul #c1_r p {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg); }
#progress_meter ul #c1_l p {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

/* progress */
#center-circle {
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: 1000;
  top: 5px;
  left: 5px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -o-border-radius: 50%; }
  #center-circle span {
    display: inline-block;
    margin-top: 50%;
    line-height: 0;
    font-weight: bold;
    color: #22a063;
    font-size: 30px; }

.progress {
  height: 300px;
  margin-top: 30px;
  padding: 45px;
  width: 100%; }

.demo {
  float: left;
  width: 100%; }
  .demo > div {
    width: 48% !important; }
  .demo p {
    color: #999;
    margin-top: 15px; }

.knob {
  font-family: dinmedium !important;
  font-size: 37px !important;
  font-weight: bold !important;
  color: #999999 !important; }

.nav-footer {
  background: none repeat scroll 0 0 transparent;
  float: left;
  width: 76%; }
  .nav-footer a:hover {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    text-decoration: underline; }

.petition-img {
  background: repeat scroll 0 0 transparent;
  height: 378px;
  width: 563px; }

h2 {
  color: #999999;
  font-family: dinmedium;
  font-size: 31px;
  margin-bottom: 15px;
  margin-top: 15px; }

.petition-right {
  box-shadow: 2px 3px 22px #BBBBBB inset;
  float: left;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 10px;
  width: 42%; }

.form:before {
  content: url("../img/U pin icon.png");
  float: right;
  position: relative;
  top: -16px; }

.form:after {
  background: url("../img/paper shadow 1.png") no-repeat scroll 0 0 transparent;
  content: " ";
  display: block;
  float: right;
  height: 70px;
  left: 24px;
  position: relative;
  top: -8px;
  width: 419px; }

.error {
  color: red;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  text-align: right;
  width: 90%; }

/*.form {
 background: url("../img/form-bg.png") repeat scroll 0 0 transparent;
  height: 748px;
  width: 416px;

}*/
.form {
  background: none repeat scroll 0 0 #F8F1CD;
  border: 6px solid #F5F5F5;
  margin: 10px auto;
  width: 375px; }

.left-content.fullwidth {
  margin-bottom: 50px;
  text-align: justify;
  width: 100%; }

/*-----petition page----*/
.form h3 {
  color: #000066;
  font-family: dinbold;
  font-size: 20px;
  padding: 30px 40px 10px; }

.form h4 {
  color: #787773;
  font-family: dinpromedium;
  font-size: 17px;
  padding: 0 40px 10px; }

.form > p {
  color: #000066;
  font-family: dinpromedium;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  padding-left: 40px;
  width: 81%; }

#contact-form, #user-form {
  padding-bottom: 50px;
  padding-left: 40px;
  padding-top: 15px; }

#user-form label {
  width: 80px;
  color: #FF4C00;
  display: inline-block;
  font-family: dinpromedium;
  font-size: 14px;
  width: 130px;
  vertical-align: middle; }

#contact-form label, #join-form label {
  color: #FF4C00;
  display: inline-block;
  font-family: dinpromedium;
  font-size: 14px;
  width: 130px;
  vertical-align: middle; }

#contact-form li, #user-form li, #join-form li {
  margin-top: 7px;
  width: 100%; }

#contact-form legend, #user-form legend, #join-form legend {
  color: #999999;
  font-family: dinpromedium;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px; }

.subscribe {
  text-align: right;
  width: 77% !important; }

.disclaimer {
  color: #999999 !important;
  font-size: 13px !important;
  width: 53% !important; }

.disclaimer a {
  color: #2f57f6 !important; }

.submit {
  color: #FF4C00 !important;
  font-family: dinbold;
  height: 40px !important;
  padding: 6px 20px !important;
  text-transform: capitalize;
  vertical-align: middle;
  width: 120px !important;
  cursor: pointer;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

#join-form input {
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
  color: #999999;
  height: 23px;
  padding-left: 5px;
  width: 200px;
  font-family: dinpromedium; }

#user-form input {
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
  color: #999999;
  height: 23px;
  padding-left: 5px;
  width: 150px;
  font-family: dinpromedium; }

textarea {
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
  color: #999999;
  padding-left: 5px;
  width: 150px;
  font-family: dinpromedium;
  vertical-align: top; }

#contact-form input {
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
  color: #999999;
  height: 23px;
  padding-left: 5px;
  width: 162px;
  font-family: dinpromedium; }

.social > .right-content.border-left {
  width: 38%; }

.social .submit {
  width: 37% !important; }

/*-----check box styling---*/
.regular-checkbox {
  display: none; }

.social select {
  width: 230px; }

.social label.styled-select {
  width: 202px !important; }

.social label.subscribe {
  width: 83% !important; }

.social label.styled-select select {
  width: 230px; }

.regular-checkbox + label {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative; }

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.regular-checkbox:checked + label {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7; }

.regular-checkbox:checked + label:after {
  color: #FF4C00;
  content: "✔";
  font-size: 18px !important;
  left: 3px;
  position: absolute;
  top: 1px; }

.big-checkbox + label {
  padding: 12px;
  width: 0 !important; }

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 5px; }

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left; }

.radio-1 {
  width: 193px; }

.button-holder {
  float: left; }

/* RADIO */
.regular-radio {
  display: none; }

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative; }

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px; }

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1); }

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.big-radio + label {
  padding: 16px; }

.big-radio:checked + label:after {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px; }

/****************end of checkbox styling*******************/
.styled-select {
  background: url("../img/select.png") no-repeat scroll right center white;
  border: 1px solid #CCCCCC;
  height: 26px;
  overflow: hidden;
  width: 135px !important; }

.styled-select.long {
  width: 167px !important; }

.styled-select.long > select {
  width: 189px; }

.styled-select select {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 0 0 0 0;
  color: #999999;
  font-family: dinpromedium;
  font-size: 14px;
  height: 29px;
  line-height: 8px;
  padding: 2px 5px 5px;
  width: 157px; }

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all {
  border: 5px solid #CCCCCC;
  border-radius: 22px 22px 22px 22px;
  margin-left: 10px;
  margin-top: 25px;
  width: 535px;
  background: #fa4600;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fa4600 0%, #f29200 21%, #ff6600 45%, #ff3500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fa4600), color-stop(21%, #f29200), color-stop(45%, #ff6600), color-stop(100%, #ff3500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fa4600 0%, #f29200 21%, #ff6600 45%, #ff3500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fa4600 0%, #f29200 21%, #ff6600 45%, #ff3500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fa4600 0%, #f29200 21%, #ff6600 45%, #ff3500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fa4600 0%, #f29200 21%, #ff6600 45%, #ff3500 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa4600', endColorstr='#ff3500',GradientType=0 );
  /* IE6-9 */ }

.ui-widget-header {
  background: #ff1600 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff1600 0%, #fb3200 18%, #9c0000 37%, #9c0000 63%, #e80000 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff1600), color-stop(18%, #fb3200), color-stop(37%, #9c0000), color-stop(63%, #9c0000), color-stop(100%, #e80000)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff1600 0%, #fb3200 18%, #9c0000 37%, #9c0000 63%, #e80000 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff1600 0%, #fb3200 18%, #9c0000 37%, #9c0000 63%, #e80000 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff1600 0%, #fb3200 18%, #9c0000 37%, #9c0000 63%, #e80000 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #ff1600 0%, #fb3200 18%, #9c0000 37%, #9c0000 63%, #e80000 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1600', endColorstr='#e80000',GradientType=0 ) !important;
  /* IE6-9 */ }

.ui-progressbar-value {
  color: #FFFFFF !important;
  font-family: dinpromedium;
  font-size: 20px;
  font-weight: normal;
  line-height: 31px;
  padding-right: 10px;
  text-align: right; }

.left-content.petition > span {
  color: #6B6B6B;
  display: block;
  margin-left: 15px;
  margin-top: 10px; }

.left-content.petition > p {
  margin-left: 15px;
  width: 80%; }

.left-content.petition {
  margin-bottom: 30px; }

.gray > a:hover {
  color: #1B1A1A;
  text-decoration: underline; }

.gray > a {
  color: #8B8B8B;
  font-family: inherit;
  text-decoration: none; }

.error-msg {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #FF4F00;
  float: left;
  font-family: dinmedium;
  font-size: 14px;
  height: 22px;
  line-height: 10px;
  margin-top: 3px;
  padding-left: 10px;
  padding-top: 13px;
  position: relative;
  width: 18%; }

.nav-footer > ul {
  width: 71%; }

.border-left {
  padding-left: 4%;
  border-left: 1px dashed #6B6B6B; }

.border-right {
  width: 53%; }

.socialmedia {
  margin-top: 50px; }

.media-desc {
  float: left;
  font-family: dinbold;
  font-size: 15px;
  width: 50%; }

.media-count {
  float: left;
  width: 100%; }

.fb, .twitter, .mail {
  float: left;
  position: relative;
  width: 50%; }

.count {
  color: #5972A5;
  font-family: dinbold;
  font-size: 22px;
  position: absolute;
  right: 38px;
  top: 9px; }

.button {
  text-decoration: none; }
