/* style.scss */
$main-color:#A42D00;
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom style */
@font-face {
  font-family: 'DINMedium';
  src: url("../fonts/dinm83-webfont.eot");
  src: url("../fonts/dinm83-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinm83-webfont.woff") format("woff"), url("../fonts/dinm83-webfont.ttf") format("truetype"), url("../fonts/dinm83-webfont.svg#DINMedium") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'DINBold';
  src: url("../fonts/ff_din_bold_0-webfont.eot");
  src: url("../fonts/ff_din_bold_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ff_din_bold_0-webfont.woff") format("woff"), url("../fonts/ff_din_bold_0-webfont.ttf") format("truetype"), url("../fonts/ff_din_bold_0-webfont.svg#DINBold") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'DINProMedium';
  src: url("../fonts/dinpro-medium.eot");
  src: url("../fonts/dinpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-medium.woff") format("woff"), url("../fonts/dinpro-medium.ttf") format("truetype"), url("../fonts/dinpro-medium.svg#dinpro-medium") format("svg");
  font-weight: normal;
  font-style: normal; }


body {
  background: url(../img/bg.png) repeat;
  font-family: 'DINBold'; }

.wrapper {
  width: 980px;
  margin: 0 auto; }

.logo {
  width: 53%;
  float: left;
  margin-top: 15px; }

nav {
  background: #ff4f00; 
  height:40px;
li {
  float: left;
}}
nav li:last-child a {
  border: none;
}
nav ul {
  float: left;
  width: 68%;
}
nav ul li a:hover {
  background: none repeat scroll 0 0 #F64203;
  box-shadow: 1px 1px 6px 1px #DB1D02 inset;
}
nav ul li a {
  border-right: 1px solid #FB9248;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  padding: 12px 22px 13px;
  text-decoration: none;
  text-shadow: 1px 2px 1px #AA0B00;
  text-transform: uppercase;
}
.top_header {
  clear: both;
  height: 100px; }

.top-nav {
  > ul {
    float: left; }
  li {
    border-right: 1px solid #ff4f00;
    float: left;
    padding: 0 5px; }
  a {
    color: #FF4F00;
    font-size: 14px;
    padding: 0 12px;
    text-decoration: none; } }

.number {
  background: none repeat scroll 0 0 #FF4F00;
  border-bottom: 1px solid $main-color;
  padding-bottom: 0;
  > li {
    border-left: 1px solid $main-color;
    border-right: 1px solid #E73D00;
    color: #FFFFFF;
    padding: 5px 10px; } }

.top-nav li:last-child {
  border: medium none; }

.number > li:last-child {
  border-left: 1px solid $main-color;
  border-right: 1px solid $main-color; }
.join-now {
    float: right;
}
#findbutton {
 border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #FF4E00;
    font-family: inherit;
    font-size: 14px;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: 36px;
    line-height: inherit;
    margin-left: 5px;
    margin-top: 2px;
    text-transform: uppercase;
    width: 105px;
  background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(222,222,222,1) 87%, rgba(217,217,217,1) 99%, rgba(179,190,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(87%,rgba(222,222,222,1)), color-stop(99%,rgba(217,217,217,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(222,222,222,1) 87%,rgba(217,217,217,1) 99%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(222,222,222,1) 87%,rgba(217,217,217,1) 99%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(222,222,222,1) 87%,rgba(217,217,217,1) 99%,rgba(179,190,173,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(222,222,222,1) 87%,rgba(217,217,217,1) 99%,rgba(179,190,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}
.email-field {
  clear: both;
  height: 28px;
  color:#333333;
  padding-left: 7px;
  padding-top: 5px;
  width: 185px;
}
.banner {
  background-image: url("../img/banner.png");
  height: 416px;
  background-repeat: no-repeat;
  width:100%;
  margin:0 auto;
}
.banner_text p {
  font-size: 14px;
  position: relative;
  text-shadow: 0 1px 0 #ECE9DB;
  top: 22px;
  width: 71%;
}
.banner_text h1 {
  font-size: 35px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.banner_text {
  float: right;
  position: relative;
  right: 11%;
  top: 30%;
  width: 39%;
}
.banner_text button {
  background: none repeat scroll 0 0 #FF4B00;
  border: medium none;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 18px 7px #DB1D02 inset;
  color: #FFFFFF;
  float: right;
  font-family: dinbold;
  font-size: 20px;
  height: 100px;
  position: relative;
  right: 30px;
  top: -31px;
  width: 100px;
}


@media screen and (min-width: 1400px)  {
 .banner {
  width:1400px;
}
}

/*---slider----*/
.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  245px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 75px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}



.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/slider-nav.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/slider-nav.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
